figure {

}

* {
    margin: 0 auto;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    background-color: black;
    animation: fade 10s;
    height: 600px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}