:root {
    --primary-color: #0D47A1; 
    --dark-color: #082B61;      
    --background-color: #EAF2FF;  
    --white-color: #FFFFFF;    
    --accent-color: #1565C0;   
}

/* header begins here */
header {
    font-family: "Valley Sans", sans-serif;
    font-weight: 350;
    background-color: var(--dark-color);
    margin-bottom: 0;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 15px;
}

header span {
    display: block;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    position: relative;
    background-color: var(--primary-color);
    justify-content: space-around;
    padding: 10px;
}

nav li a {
    color: var(--white-color);
    text-decoration: none;
}

.navigation a:hover {
	text-decoration-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--white-color);
}

/* Header ends here */

/* This is where About me begins and short description of Nigeria  */

body {
    font-family: "Valley Sans", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;
}

main h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}


.card {
    border-radius: 10px;
    border: 3px solid var(--dark-color);
    margin: 20px 0;
    padding: 5px;
}

.card h2 {
    margin-top: 0;
    background-color: var(--dark-color);
    color: var(--white-color)
}

.profile {
    width: 10rem;
    height: auto;
    border-radius: 5px;
    float: right;
    padding-left: 10px;
}

.section1-bio {
    text-align: justify;
}

.card h3 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--dark-color);
}

.figure {
    float: left;
}

.figure img {
    width: 15rem;
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
  
}

figcaption {
    font-weight: 700;
    text-align: center;
}

.section1-text {
    text-align: justify;
}

/* About me and Nigeria Description ends */

/* Web Dev Recourses Begins */

.web-dev {
    display: flex;
    flex-direction: column;
}   

/* End of Web Dev Recourses */

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1px 0;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
}