@media (min-width: 520px) {
	header {
		display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: #4b1b39;
	}

    header h1 {
        color: #F3F4F6;
    }

    nav {
        background-color: transparent;
        justify-content: flex-end;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        color: #F3F4F6;
        padding: 0 1.3rem;
    }
	
    .navigation a {
        text-align: center;
        color: #F3F4F6;
    }

    #menu {
        display: none;
    }

    .navigation a:hover {
        border: 2px solid #F3F4F6;
        background-color: #1D4ED8;
        padding: 5px;
    }

    .figure {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
    }
    
    footer {
        background-color: #102e71;
        color: #F3F4F6;
    }
}

@media (min-width: 740px) {
    .figure {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}