:root {
    --color-primary2: #8B5CF6;  
    --color-primary-hover2: #7C3AED;
    --color-secondary2: #1E1B4B;
    --color-accent2: #F59E0B;
    --color-text2: #F3F4F6;
}

@media (min-width: 640px) {
	header {
		display: grid;
        grid-template-columns: 40% 70%;
        align-items: center;
        background-color: var(--color-secondary2);
	}

    header h1 {
        background-color: transparent;
        color: var(--color-accent2);
    }

    nav {
        background-color: transparent;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        color: var(--color-text2);
        padding: 0 1.3rem;
    }
	
    .navigation a {
        text-align: center;
        color: var(--color-text2);
    }

    #menu {
        display: none;
    }

    .navigation a:hover {
        border: 2px solid var(--color-text2);
        background-color: var(--color-accent2);
        padding: 5px;
    }

    .figure  {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2rem;
	    place-items: center;
    }

    .figure figure {
        text-align: center;
        margin: 0.2rem;
        font-size: medium;
    }

    figure img {
        border-radius: 5px;
    }

    figcaption {
        color: var(--color-text2);
        max-width: 15rem;
        border-radius: 5px;
        background-color: var(--color-primary2);
    }
    
    footer {
        background-color: var(--color-accent2);
        color: var(--color-secondary2);
    }
}

@